@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
   
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("imagesWeather/background.jpg");
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* card styling */
.card{
    width : 25%;
    height: auto;
    min-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: white;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

/* search box styling */
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border : 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border : 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 24px;
}

/* weather styling */
.weather .weather-icon{
    width : 170px;
    margin-top: 20px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.weather .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.weather .details .attribute{
    display: flex;
    align-items: center;
    text-align: left;
}
.weather .details .attribute img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind {
    font-size: 25px;
    margin-top: -6px;
}
@media (min-width: 0px) and (max-width: 550px){
    .container{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("imagesWeather/background.jpg");
        background-position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .card{
        width : 85%;
        height: auto;
        min-width: 250px;
        background: linear-gradient(135deg, #00feba, #5b548a);
        color: white;
        border-radius: 20px;
        padding: 30px 15px;
        text-align: center;
    }
    .search{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search input{
        border : 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 15px;
        height: 40px;
        min-width: 50px;
        border-radius: 30px;
        flex: 1;
        margin-right: 16px;
        font-size: 14px;
    }
    .search button{
        border : 0;
        outline: 0;
        background: #ebfffc;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: -12px;
    }
    .search button img{
        width: 15px;
    }
    .details{
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .weather .details {
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin-top: 20px;
    }
    #attribute2{
        margin-top: 20px;
    }
}

.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    color: black;
    display: none;
}
